#photoarea {
}

div.photo-entry {
  display: block;
  width: 170px;
  height: 200px;
  font-size: 80%;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
  float: left;
}

div.photo-entry > img {
  width: 170px;
  height: 170px;
}

/* photo opened */
div.photo-detail {
  display: inline-block;
  float: left;
  width: 100%;
  margin-left: -20px;
  min-height: 400px;
}

div.photo-detail > div.img {
  text-align: center;
  height: 100%;
}

div.photo-detail > div.img > img {
  width: 85%;
  height: 100%;
  text-align: center;
  display: inline-block;
}
div.photo-detail > div.img > .img-nav {
  width: 6.5%;
  margin-top: 0px;
  min-height: 400px;
  cursor: pointer;
  padding-top: 100px;
  font-size: 200%;
  color: rgb(94, 94, 94);
  display: inline-block;
}
div.photo-detail > div.img > .img-nav:hover {
  color: #000;
}


div.photo-detail > div.text {
  text-align: left;
  min-height: 100px;
  width: 100%;
  padding-bottom: 30px;
  font-size: 80%;
  clear: both;
  margin-left: 80px;
  padding-right: 160px;
}

/* Search filters form */
div.filter-item {
  display: block;
  border: 1px solid #ddd;
  height: 180px;
  padding: 5px;
  margin: 5px;
  margin-right: 10px;
  padding-right: 8px;
}

div.filter-item input {
  border: 1px solid #ddd;
  width: 100%;
}


div.ss-multi-selected {
  margin-bottom: 10px;
}


/* template area */
#elem-tpl-area {
  display: none !important;
}

#scroll-top-btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #a2a2a2;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
}

#scroll-top-btn:hover {
  background-color: #555;
}




.float-l-img {
	float: left;
	max-width: 230px;
	padding-left: 20px;
}
